<div class="jumbotron">
  <h1>Kode Kiwi</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    A collaborative coding tool.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <center><h2>Login with Github Credentials</h2></center>
  <form id="login" method="post" name="mylogin">
    <center><br><label> Github Username: </label>
    <input type="text" name="gitusername" id="gitusername"></center>
    <center><br><label> Github Repository Name: </label>
    <input type="text" name="gitrepo" id="gitrepo"></center>
    <center><br><label> Github User Email: </label>
    <input type="text" name="gitemail" id="gitemail"></center>
    <center><br><label> Github Name: </label>
    <input type="text" name="gitname" id="gitname"></center>
    <center><br><label> Github Oauth Token: </label>
    <input type="text" name="token" id="token"></center>
    <center><br><input type="button" value="Login" id="submit" onclick="validate()"/></center>
</form>
</div>

